<h1>Lists of Movies</h1>

<div class="card-category">
<% @lists.each do |list| %>
  <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <%= link_to list.name, list_path(list)%>
    <% list.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :thumb %>
    <% end %>
  </div>
<% end %>
</div>

<p><%= link_to 'Add a new List', new_list_path %></p>
